@model Course
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h>Course Information : </h>
    <p>@Model.ID</p>
    <p>@Model.Name</p>
</body>
</html>