<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="navbar navbar-expand-sm bg-light fixed-top border-bottom">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">iDEA</a>
        </div>

        <form class="d-flex mx-2" method="post" action="/Account/Login">
            <input type="text" name="Username" class="form-control me-2" placeholder="Username" required>
            <input type="password" name="Password" class="form-control me-2" placeholder="Password" required>
            <button type="submit" class="btn btn-primary me-2">Login</button>
        </form>
    </div>

    <!-- Prevent content from being hidden under fixed navbar with this placeholder navbar-->
    <div class="navbar navbar-expand-sm bg-light border-bottom">
        <div class="container-fluid">
            <p>a</p>
        </div>
        <div class="d-flex container-fluid">
            <p>a</p>
        </div>
    </div>

    @RenderBody()

    <div class="navbar navbar-expand-sm bg-light fixed-bottom border-top">
        <div class="container d-flex align-items-center">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary mt-3">© 2023 placeholder company name, Inc</p>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>
