@model List<Exam>
    
    <div class="container">
        <p class="h3 border-2 py-1 px-2 mb-3 mt-5 border-dark text-light rounded " style="background-color: rgb(33, 37, 41)">Grades</p>
    <table style="align-items: center;width: 100%;"
        class="table  ms-0 table-hover border border-dark table-primary rounded">
        <thead class="table-dark">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Info</th>
                <th scope="col">Time</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model)
            {
            <tr>
                <th>@exam.Course</th>
                <th>@exam.Info</th>
                <th>@exam.Time</th>
                <th>@exam.Point</th>
            </tr>
            }
        </tbody>
    </table>
    </div>
    