@model StudentsDataModel
@{
    Layout = "_LecturerLayout";
}
<h1 style="text-align: center; margin-top: 20px; color:rgb(255, 255, 255); font-weight: bold; ">Öğrenci Listesi</h1>
<table class="table align-middle mt-5 table-sm mb-0 bg-white;">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>GPA</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="cursor: pointer;">
        @foreach (var student in Model.Students) {
            <tr style="background-color: #fff;" onmouseover="this.style.backgroundColor='#f5f5f5';"
            onmouseout="this.style.backgroundColor='#fff';">
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">@student.Name</p>
                        <p class="text-muted mb-0">ID = @student.ID</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">@student.Department</p>
            </td>
            <td>
                <p class="fw-normal mb-1">@student.GPA</p>
            </td>
            <td>Senior</td>
        </tr>
        }

    </tbody>
</table>