html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.round-profile-img {
  border-radius: 50%;
}


  /* Navbar yazı stili değiştirme */
  .navbar-brand {
    font-family: 'Arial', sans-serif; /* Yeni yazı türünü belirtin */
    font-size: 24px; /* Yazı boyutunu ayarlayın */
    font-weight: bold; /* Yazı kalınlığını belirtin */
    color:rgb(43, 205, 208); /* Yazı rengini belirtin */
  }




