html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.round-profile-img {
  border-radius: 50%;
}


  /* Navbar yazı stili değiştirme */
  .navbar-brand {
    font-family: 'Arial', sans-serif; /* Yeni yazı türünü belirtin */
    font-size: 24px; /* Yazı boyutunu ayarlayın */
    font-weight: bold; /* Yazı kalınlığını belirtin */
    color:rgb(43, 205, 208); /* Yazı rengini belirtin */
  }

  .profile-pic{
    display: inline-block;
    vertical-align: middle;
     width: 40px;
     height: 40px;
     overflow: hidden;
    border-radius: 50%;
 }
 
 .profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 .profile-menu .dropdown-menu {
   right: 0;
   left: unset;
 }
 .profile-menu .fa-fw {
   margin-right: 10px;
 }
 
 .toggle-change::after {
   border-top: 0;
   border-bottom: 0.3em solid;
 }

 .video-background-holder {
  position: relative;
  background-color: black;
  height: calc(110vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position:absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

code {
  padding: 0 0.15rem;
  background: #f5f5f5;
  border-radius: 0.2rem;
}





