.send_bt {
    width: 20;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    right: 50px;
    text-decoration: none;
    background-color:rgb(43,120,208); /* Arka plan rengi */
    color: black; /* Yazı rengi */
    border-radius: 5px; /* Köşe yuvarlaklığı */
    transition: background-color 0.3s ease; /* Geçiş efekti */
}
.bodyClass{
    background-color: rgb(67, 239, 239)  ;
}

.send_bt:hover {
    background-color: #2980b9; /* Hover durumunda arka plan rengi */
}